#user-routes-save-btn-id{
    width: 300px;
}

.user-routes-save-btn-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-routes-modal-body{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#user-routes-distance-id,
#user-routes-select-train-id,
#user-routes-select-id{
    width: 800px;
}
